{% extends 'base-landing.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}چاپ آنلاین{% endblock title %}

{% block content %}

<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">

    <div class="slide kenburns" data-bg-image="{% static 'images/slider/notgeneric_bg3.jpg' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">

                <h1>به چاپ انلاین خوش امدید</h1>
                <p>به هوشمندترین و انعطاف پذیرترین چاپخانه انلاین سلام کنید. چاپ انلاین یک شرکت قدرتمند است که می
                    تواند هر نوع محصول چاپی را بسازد و احتمالاً تنها موردی است که شما به آن نیاز خواهید داشت.</p>
                <div><a href="#welcome" class="btn scroll-to">بیشتر کاوش کنید</a></div>
                </span>

            </div>
        </div>
    </div>


    <div class="slide" data-bg-video="{% static 'video/pexels-waves.mp4' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-left text-light">

                <h1>220+ سال تجربه</h1>
                <p class="text-small">چاپ انلاین با بیش از 220 طرح از پیش ساخته شده است که به شما امکان می دهد پروژه
                    خود را به سرعت شروع کنید. کاملاً قابل تنظیم برای ایجاد طرح های خود.</p>
                <div><a href="#welcome" class="btn scroll-to">بیشتر کاوش کنید</a></div>

            </div>
        </div>
    </div>

</div>

<section class="box-fancy section-fullwidth text-light no-padding">
    <div class="row">
        <div class="col-lg-6 text-right" style="background-color: #b41525">
            <h2>ماموریت ما</h2>
            <span class="lead">شادترین زمان روز!. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                ساختگی با تولید سادگی نامفهوم. </span>
        </div>
        <div class="col-lg-6 text-left" style="background-color: #c31e2f">
            <h2>چشم انداز ما</h2>
            <span class="lead">شادترین زمان روز!. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                ساختگی با تولید سادگی نامفهوم. </span>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="heading-text heading-section m-b-80">
            <h2>کاری که ما انجام می دهیم</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box medium fancy">
                    <div class="icon"> <a href="#"><i class="fa fa-car"></i></a> </div>
                    <h4>چاپ انواع بنر</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy">
                    <div class="icon"> <a href="#"><i class="fa fa-heart"></i></a> </div>
                    <h4>چاپ انواع تراکت</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy">
                    <div class="icon"> <a href="#"><i class="far fa-lightbulb"></i></a> </div>
                    <h4>چاپ فاکتور</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy">
                    <div class="icon"> <a href="{% url 'stamp-list' %}"><i class="fa fa-phone"></i></a> </div>
                    <h4>ساخت مهر</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy">
                    <div class="icon"> <a href="#"><i class="fa fa-code"></i></a> </div>
                    <h4>چاب اعلامیه ترحیم</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box medium fancy">
                    <div class="icon"> <a href="#"><i class="fa fa-life-ring"></i></a> </div>
                    <h4>چاپ بنر خیرمقدم</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="p-b-150 background-image"
            style="background-image:url({% static 'homepages/design-studio/images/parallax/2.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-6" data-animate="fadeIn">
                        <h3 class="text-medium m-b-5">چاپ رنگی</h3>
                        <p>شادترین زمان روز!. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                            تولید سادگی نامفهوم. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.
                        </p>
                        <hr class="space">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <div class="icon"><i class="fa fa-3x fa-code"></i></div>
                                    <div class="counter small"> <span data-speed="3000" data-refresh-interval="50"
                                            data-to="12416" data-from="600" data-seperator="true"></span> </div>
                                    <p>انواع مهر</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <div class="icon"><i class="fa fa-3x fa-coffee"></i></div>
                                    <div class="counter small"> <span data-speed="4500" data-refresh-interval="23"
                                            data-to="365" data-from="100" data-seperator="true"></span> </div>
                                    <p>بنر خیر مقدم</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <div class="icon"><i class="fa fa-3x fa-rocket"></i></div>
                                    <div class="counter small"> <span data-speed="3000" data-refresh-interval="12"
                                            data-to="114" data-from="50" data-seperator="true"></span> </div>
                                    <p>کارت عروسی</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-center">
                                    <div class="icon"><i class="fa fa-3x fa-smile"></i></div>
                                    <div class="counter small"> <span data-speed="4550" data-refresh-interval="50"
                                            data-to="14825" data-from="48" data-seperator="true"></span> </div>
                                    <p>اعلامیه ترحیم</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<section class="background-grey">
    <div class="container">
        <div class="text-center m-b-100">
            <h1 class="text-medium">در تماس باشید؟</h1>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 center">
                <form class="widget-contact-form" novalidate role="form"
                    method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">نام</label>
                                {{ form.name|attr:"placeholder:اسم خود را وارد کنید"|attr:"aria-required:true"|attr:"type:text"|attr:"class:form-control required name"|attr:"required" }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">ایمیل</label>
                                {{ form.email|attr:"placeholder:ایمیل خود را وارد کنید"|attr:"type:email"|attr:"class:form-control required email"|attr:"required" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="subject">موضوع</label>
                                {{ form.subject|attr:"placeholder:موضوع خود را بنویسید"|attr:"id:subject"|attr:"type:text"|attr:"class:form-control required"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">پیام</label>
                            {{ form.message|attr:"placeholder:پیام خود را بنویسید"|attr:"rows:8"|attr:"id:message"|attr:"type:text"|attr:"class:form-control required"|attr:"required" }}
                    </div>
                    <div class="row">
                        <div class="form-group text-center">
                            <button class="btn center" type="submit" id="form-submit"><i
                                    class="fa fa-paper-plane"></i>&nbsp;ارسال پیام</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>





{% endblock content %}